
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color: #222;
  font-size: 15px;
  color: #fff;
  padding: 0;
  line-height: 1;
  font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans', 'Arial'
}

b, strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

img, object {
  max-width: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

iframe {
  max-width: 100%;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

td {
  vertical-align: middle;
}

ul, ol {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, p {
  padding: 0;
  margin: 0;
}
h1 {
  margin-bottom: 6px;
  text-align: center;
  font-size: 100%;
  font-weight: 200;
}
h2 {
  font-size: 300%;
  font-weight: 400;
  color: #fff;
}
h3 {
  font-size: 125%;
  font-weight: 300;
  color: #fff;
}

input {
  background-color: #444;
  border: none;
}

.dashboard_main {
	margin: 0px auto;
}

.gridster {
  margin: 0px auto;
}

.icon-background {
  pointer-events: none;
  width: 100%!important;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.1;
  font-size: 1375%;
  text-align: center;
  margin-top: 82px;
}

.list-nostyle {
  list-style: none;
}

.gridster ul {
  list-style: none;
}

.gs-w {
  width: 100%;
  display: table;
  cursor: pointer;
  z-index: auto !important;
}

.iframe {
  position: relative;
  overflow: hidden;  
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

.widget {
  padding: 0px 0px;
  text-align: center;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  background-color: #444444;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;}

  .title {
    color: #fff;
  }

  .icon-inactive {
    color: #888;
  }

  .icon-active {
    color: #aaff00;
  }
}

#container {
  padding-top: 0px;
}

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialogOpen {
	opacity:0.95;
	pointer-events: auto;
}

.modalDialogClose {
	opacity:0;
	pointer-events: none;
}

.modalDialog > div {
	width: 275px;
	position: relative;
	margin: 3% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
}

.modalDialogCloseButton {
	line-height: 50px;
	position: absolute;
	right: -25px;
	text-align: center;
	top: -20px;
	width: 50px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
}

.modalDialogCloseButton:hover { background: #444; }
.widget-baseclock-default-clock.date {
	position: absolute;
	top: 5px;
	width: 100%;
}
.widget-baseclock-default-clock.time {
 	position: absolute;
	top: 45px;
	width: 100%;
}
.widget-baseswitch-default-steve-home {
	position: relative;
}

.widget-baseswitch-default-steve-home .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-steve-home .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-steve-home .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-steve-home .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-steve-home .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.widget-baseswitch-default-marlene-home {
	position: relative;
}

.widget-baseswitch-default-marlene-home .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-marlene-home .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-marlene-home .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-marlene-home .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-marlene-home .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.widget-baseswitch-default-s-alarm-upstairs {
	position: relative;
}

.widget-baseswitch-default-s-alarm-upstairs .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-upstairs .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-upstairs .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-upstairs .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-upstairs .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.widget-baseswitch-default-co-alarm-upstairs {
	position: relative;
}

.widget-baseswitch-default-co-alarm-upstairs .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-upstairs .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-upstairs .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-upstairs .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-upstairs .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.widget-baseswitch-default-s-alarm-main {
	position: relative;
}

.widget-baseswitch-default-s-alarm-main .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-main .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-main .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-main .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-main .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.widget-baseswitch-default-co-alarm-main {
	position: relative;
}

.widget-baseswitch-default-co-alarm-main .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-main .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-main .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-main .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-main .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.widget-baseswitch-default-s-alarm-basement {
	position: relative;
}

.widget-baseswitch-default-s-alarm-basement .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-basement .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-basement .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-basement .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-s-alarm-basement .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.widget-baseswitch-default-co-alarm-basement {
	position: relative;
}

.widget-baseswitch-default-co-alarm-basement .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-basement .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-basement .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-basement .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-co-alarm-basement .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.widget-javascript-default-light-master .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-light-master .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-light-master .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-light-master .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-light-alyssa .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-light-alyssa .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-light-alyssa .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-light-alyssa .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-light-markus .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-light-markus .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-light-markus .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-light-markus .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-light-living .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-light-living .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-light-living .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-light-living .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-light-dining .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-light-dining .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-light-dining .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-light-dining .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-basedisplay-default-temp-nest .unit {
	font-size: 225%;
	font-weight: 400;
	display: inline-block;
	vertical-align: top;
	margin-left: 5px;
	margin-top: 5px;
}

.widget-basedisplay-default-temp-nest .value {
	display: inline-block;
	vertical-align: middle;
}

.widget-basedisplay-default-temp-nest .valueunit {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-basedisplay-default-temp-nest .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-basedisplay-default-temp-nest .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-basedisplay-default-temp-nest .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-javascript-default-humid-nest .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-humid-nest .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-humid-nest .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-humid-nest .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-set-nest .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-set-nest .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-set-nest .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-set-nest .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-fan-nest .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-fan-nest .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-fan-nest .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-fan-nest .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-mode-nest .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-mode-nest .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-mode-nest .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-mode-nest .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-temp-weather .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-temp-weather .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-temp-weather .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-temp-weather .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-humid-weather .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-humid-weather .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-humid-weather .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-humid-weather .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-high-weather .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-high-weather .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-high-weather .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-high-weather .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-low-weather .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-low-weather .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-low-weather .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-low-weather .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-baseswitch-default-lock-front-door-lock {
	position: relative;
}

.widget-baseswitch-default-lock-front-door-lock .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-lock-front-door-lock .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-lock-front-door-lock .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-lock-front-door-lock .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-lock-front-door-lock .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.widget-baseswitch-default-cover-garage-door-opener-2 {
	position: relative;
}

.widget-baseswitch-default-cover-garage-door-opener-2 .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-baseswitch-default-cover-garage-door-opener-2 .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-baseswitch-default-cover-garage-door-opener-2 .state_text {
	position: absolute;
	bottom: -3px;
	width: 100%;
}

.widget-baseswitch-default-cover-garage-door-opener-2 .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-baseswitch-default-cover-garage-door-opener-2 .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

.widget-javascript-default-lock-front-door .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-lock-front-door .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-lock-front-door .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-lock-front-door .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-close-garage-door .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-close-garage-door .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-close-garage-door .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-close-garage-door .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.widget-javascript-default-reload .icon {
	position: absolute;
	top: 43px;
	width: 100%;
}

.widget-javascript-default-reload .title {
	position: absolute;
	top: 5px;
	width: 100%;
}

.widget-javascript-default-reload .title2 {
	position: absolute;
	top: 23px;
	width: 100%;
}

.widget-javascript-default-reload .toggle-area {
	z-index: 10;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
